<%- css('css/about.css') %>
<%- partial('_partial/header',{name:'about'}) %>
<%- css('css/atom-one-dark.css') %>
<div class="header-bg">
    <div class="bg-content">
        <img src="<%= page.portrait %>" alt="Q">
        <h1> <%- page.aubot %>
            <span><%- page.describe %></span>
        </h1>
    </div>
</div>

<div class="article-content">
    <%- css('css/page_cente.css')   %>
    <div id="article" class="content">
        <%- page.content %>
    </div>
</div>

<script>
    $(function () { $('.article-content').addClass('content-move') })
</script>

<div class="links-content">
    <div class="content">
        <% for(const each of theme.linksList || []) { %>
            <div class="oneLink">
                <a href="<%- each.link %>">
                    <div class="lcen">
                        <div class="UserLinkImg">
                            <img src="<%- each.image %>" alt="Quiet">
                        </div>
                        <div class="LinkRight">
                            <h1>
                                <%- each.title %>
                            </h1>
                            <span>
                                <%- each.intro %>
                            </span>
                        </div>
                    </div>
                </a>
            </div>
            <% } %>
    </div>
</div>
<script>$(function () { $('.links-content').addClass('content-move'); })</script>

